<h1><%= @cocktail.name %></h1>

<p>Doses: </p>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.ingredient.name %> : <%= dose.description %> <%= link_to "", dose_path(dose), method: :delete, class: "fas fa-trash-alt", data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>


<%= link_to "Back to cocktails", cocktails_path, class: "btn btn-primary" %>

<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>











